{% extends "base.html" %}
{% block content %}
    <div class="module">
        <h2>About the Berkeley Bibliography Engine</h2>
        <p>
        This is an open source project written by:
        <ul>
         <li> Gene Callahan</li>
         <li>Adnan Bin Hoq</li>
        </ul>
        </p>
        <p>
        with the aid of Paul Logston.<br> <br>
        </p>
        <p>
        Customized bibliography engine for anyone who needs one.
        The engine allows easy imports and exports, and search on multiple fields, as well as drill-down data on publishers, authors, journals, etc.
        </p>
     </div>
{% endblock content %}
