{% extends "base.html" %}
{% block content %}
    <div class="module">
        <h2>About Data Warehouse</h2>
        <p>
        This is an open source project written by:
        <ul class="nested"> 
         <li> Gene Callahan</li>
         <li>Adnan Bin Hoq</li>
	 <li> Dennis Fenchenko</li>
	 <li> Wenxuan Ma</li>
	 <li> Kyra Thompson</li>
        </ul>
        </p>
        <p>
        with the aid of Paul Logston.<br> <br>
        </p>
        <p>
        Data Warehouse is for security updates.
        The engine allows easy imports and exports, and search on multiple fields.
        </p>
     </div>
{% endblock content %}
