<html>
<head>
    <title>
        {% block title %}
            Berkeley Bibliography Engine
        {% endblock title %}
    </title>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="/static/berkeley/style.css">
    {% endblock stylesheets %}
</head>

<body class="dashboard">
    <div id="container">
        <div id="header">
            <div id="branding">
            <h1>Berkeley Bibliography Engine</h1>
            </div>
        </div>
        <div id="content" class="colMS">
            <div id="content-main">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>
</body>
</html>
