<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}
        {{ header }}
        {% endblock title %}
    </title>
    {% block stylesheets %}
        {% load static %}
        <link rel="stylesheet" type="text/css" href="/static/berkeley/style.css">
    {% endblock stylesheets %}
</head>
<body class="dashboard">
    <div id="container">
        <div id="header">
            <div id="user-tools">
                <a class="header-title" href="http://www.thedevopscourse.com">
                    The DevOps Course
                </a>
                &nbsp; &nbsp; &nbsp;
                <a href="http://www.thedevopscourse.com">Home</a>
                &nbsp; &nbsp;
                <a href="http://www.thedevopscourse.com/devops/gloss">Glossary</a>
                &nbsp;&nbsp;
                <a href="/berkeley">Bibliography</a>
                &nbsp; &nbsp;
                <a href="http://www.thedevopscourse.com/devops/teams">Teams</a>
                &nbsp;&nbsp; 
                <a href="/berkeley/about">About</a>
                &nbsp; &nbsp; 
                <a href="http://www.thedevopscourse.com/participants/login">Log in</a>
           </div>
           
        </div>
        <br><br><br>
        <div id="content" class="colMS">
            <div id="content-main">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>
</body>
</html>
