{% extends "base.html" %}
{% block content %}
    <div class="module">

        <body>

            <form align="center" method="get" action="mailto:{{ emails }}"  >
                <br> Your name:&nbsp;
                <input type="text" name="realname" font-weight=bold><br>

                <br>Your email:&nbsp;
                <input type="text" name="email"><br>
                <br> Subject: &nbsp;
                <input type ="text" name="subject" wrap="hard"><br>
                <br>Your Feedback:<br><br>
                <textarea name="body" rows="15" cols="50" wrap="hard">
                </textarea><br>

                <br><input type = "submit" value= "Submit">




            </form>

        </body>



    </div>

{% endblock content %}
