{% extends "base.html" %}
{% block content %}
    <div class="module">
        <h2>Feedback form for Berkeley Bibliography Engine</h2>
        <p>
        Feedback
        </p>
        <p>Please enter a topic:
            <select name="formError">
                <option value="">Select...</option>
                <option value="P">Publication Error</option>
                <option value="I">Information Error</option>
                <option value="W">Website Error</option>
            </select>
	</p>
    </div>
{% endblock content %}
