{% extends "base.html" %}
{% block content %}
    <div class="module">
    <table>
        <caption>
            Journal: {{ journal.name }}
        </caption>
        <tr>
            <td>Publisher:</td>
            <td>
                <a href="/berkeley/publisher_detail/{{ journal.publisher.id }}/">
                {{ journal.publisher }}
                </a>
            </td>
        </tr>
        <tr>
            <td>Description:</td>
            <td> {{ journal.descr }} </td>
        </tr>
        <tr>
            <td>URL:</td>
            <td><a href="{{ journal.url }}"> {{ journal.url }}</a></td>
        </tr>
    </table>
    </div>
{% endblock content %}
