{% extends "base.html" %}
{% block content %}
    <div class="module">
    <table>
        <caption>
            Publisher: {{ publisher.name }}
        </caption>
        <tr>
            <td>Description:</td>
            <td> {{ publisher.descr }}
            </td>
        </tr>
        <tr>
            <td>URL:</td>
            <td><a href="{{ publisher.url }}"> {{ publisher.url }}</a></td>
        </tr>
        <tr>
            <td>City:</td>
            <td> {{ publisher.address.city }}</a></td>
        </tr>
        <tr>
            <td>State / Province:</td>
            <td> {{ publisher.address.province }}</a></td>
        </tr>
        <tr>
            <td>Country:</td>
            <td> {{ publisher.address.country }}</a></td>
        </tr>
    </table>
    </div>
{% endblock content %}
