{% extends "base.html" %}
{% block content %}
    <div class="module">
    <table>
        <caption>
            Publications
        </caption>
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Journal /<br>Publisher</th>
            <th>Subject</th>
            <th>Author(s)</th>
            <th>Language</th>
            <th>Export</th>
        </tr>
        {% for pub in pub_list %}
            <tr>
                <td>
                    <a href="/berkeley/pub_detail/{{ pub.id }}/">
                        {% if pub.title %}
                            {{ pub.title|truncatechars:50 }}
                        {% elif pub.review_of %}
                            {{ pub.review_of|truncatechars:50 }}
                        {% endif %}
                    </a>
                </td>
                <td> {{ pub.year }} </td>
                <td>
                    {% if pub.journal.id %}
                        <a href="/berkeley/journal_detail/{{ pub.journal.id }}/">
                        {{ pub.journal.name|truncatechars:50 }}
                    {% elif pub.publisher.id %}
                        <a href="/berkeley/publisher_detail/{{ pub.publisher.id }}/">
                        {{ pub.publisher.name|truncatechars:50 }}
                    {% elif pub.collection.id %}
                        <a href="/berkeley/pub_detail/{{ pub.collection.id }}/">
                        {{ pub.collection.title|truncatechars:50 }}
                    {% endif %}
                    </a>
                </td>
                <td>
                    {{ pub.subject }}
                </td>
                <td>
                {% for author in pub.authors.all %}
                    <a href="/berkeley/person_detail/{{ author.id }}/">
                    {{ author.lname }},<nbsp;>
                    </a>
                {% endfor %}
                </td>
                <td> {{ pub.language }} </td>
                <td>
                    <a href="/berkeley/export/{{ pub.id }}/">
                    Export
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
    </div>
{% endblock content %}
