<head>
<link rel="stylesheet" type="text/css" href="/static/berkeley/style.css">
</head>

<body class="dashboard">
    <div id="container">
        <div id="header">
            <div id="branding">
            <h1>Berkeley Bibliography Engine</h1>
            </div>
        </div>
        <div id="content" class="colMS">
            <div id="content-main">
                <div class="module">
                <table>
                    <caption>
                        Person: {{ person.fname }} {{ person.lname }}
                    </caption>
                    <tr>
                        <td>Description:</td>
                        <td> {{ person.descr }}
                        </td>
                    </tr>
                    <tr>
                        <td>Year of Birth:</td>
                        <td> {{ person.yob }} </td>
                    </tr>
                    <tr>
                        <td>Year of Death:</td>
                        <td> {{ person.yod }} </td>
                    </tr>
                    <tr>
                        <td>Institution:</td>
                        <td> {{ person.institution.name }} </td>
                    </tr>
                    <tr>
                        <td>URL:</td>
                        <td><a href="{{ person.url }}"> {{ person.url }}</a></td>
                    </tr>
                </table>
                </div>
    
            </div>
        </div>
    </div>
</body>
