<head>
<link rel="stylesheet" type="text/css" href="/static/berkeley/style.css">
</head>

<body class="dashboard">
    <div id="container">
        <div id="header">
            <div id="branding">
            <h1>Berkeley Bibliography Engine</h1>
            </div>
        </div>
        <div id="content" class="colMS">
            <div id="content-main">
                <div class="module">
                <table>
                    <caption>
                        Publication: {{ pub.title }}
                    </caption>
                    <tr>
                        <td>Author(s):</td>
                        <td>
                        {% for author in pub.authors.all %}
                            {{ author.fname }} {{ author.lname }},
                            <nbsp;>
                        {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>Year:</td>
                        <td> {{ pub.year }} </td>
                    </tr>
                    <tr>
                        <td>Publisher:</td>
                        <td> {{ pub.publisher.name }} </td>
                    </tr>
                    <tr>
                        <td>URL:</td>
                        <td><a href="{{ pub.url }}"> {{ pub.url }}</a></td>
                    </tr>
                </table>
                <p>
                    <strong>Abstract:</strong>
                    {{ pub.abstract }}
                </p>
                </div>
    
            </div>
        </div>
    </div>
</body>
