<head>
<link rel="stylesheet" type="text/css" href="/static/berkeley/style.css">
</head>

<body class="dashboard">
    <div id="container">
        <div id="header">
            <div id="branding">
            <h1>Welcome to the Bishop Berkeley Bibliography!</h1>
            </div>
        </div>
        <div id="content" class="colMS">
            <div id="content-main">
                <div class="module">
                <table>
                    <caption>
                        Publications for {{ lname }}:
                    </caption>
                    <tr>
                        <th>Title</th>
                        <th>City</th>
                        <th>Year</th>
                        <th>Publisher</th>
                        <th>Author(s)</th>
                        <th>Language</th>
                    </tr>
                    {% for pub in pub_list %}
                        <tr>
                            <td>
                                <a href="/berkeley/pub_detail/{{ pub.id }}/">
                                {{ pub.title }}
                                </a>
                            </td>
                            <td> {{ pub.city }} </td>
                            <td> {{ pub.year }} </td>
                            <td> {{ pub.publisher.name }} </td>
                            <td>
                            {% for author in pub.authors.all %}
                                <a href="/berkeley/person_detail/{{ author.id }}/">
                                {{ author.lname }},<nbsp;>
                                </a>
                            {% endfor %}
                            </td>
                            <td> {{ pub.language }} </td>
                        </tr>
                    {% endfor %}
                </table>
                </div>
    
            </div>
        </div>
    </div>
</body>
